@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (max-width: 480px) {
        .cart-section tbody tr td {
            min-width: 135px !important;
        }
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

    }

    th, td {
        text-align: left;
        padding: 8px;
    }

 
    @@media (max-width: 767px) {
        .cart-section tbody tr td:nth-last-child(-n+4) {
            display: table-cell !important;
        }
    }
    .fs{
        font-size:18px;
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">

            <div style="overflow-x:auto;">
                <table  class="table ">
                    <thead>
                        <tr class="table-head">
                            <th scope="col"  style="text-align:center;" class="fs">Action</th>
                            <th scope="col"  style="text-align:center;" class="fs">Image</th>
                            <th scope="col"  style="text-align:center;" class="fs">Product Name</th>
                            <th scope="col"  style="text-align:center;" class="fs">Price</th>
                            <th scope="col"  style="text-align:center;" class="fs">Quantity</th>
                            <th scope="col"  style="text-align:center;" class="fs">Subtotal</th>

                        </tr>
                    </thead>
                    <tbody class="cart-items">
                    </tbody>
                </table>
                <div class="table-responsive-md">
                    <table class="table cart-table ">
                        <tfoot>
                            <tr>
                                <td>total price :</td>
                                <td>
                                    <span class="totalamount" style="font-size:22px;font-weight:600;">00.00</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
 
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="@Url.Action("Index","Home")" class="btn btn-solid">continue shopping</a></div>
            @if (Session["ID"] != null)
            {
                <div class="col-6"><a href="@Url.Action("Checkout", "Order")" id="check-btn" class="btn btn-solid">check out</a></div>
            }
            else { 
            <div class="col-6"><a href="@Url.Action("Login_Register", "Account")" id="check-btn" class="btn btn-solid">check out</a></div>
            }
        </div>
    </div>
</section>
<!--section end-->