
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-category2 {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: right !important;
        background-color: #ffe4f1 !important;
    }

    .order-box .charges {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .mt-3 {
        margin-top: 1rem !important
    }

    .font-weight-bold {
        font-weight: 700 !important
    }

    .coupon-accordion h3 {
        background: #f6f6f6;
        border-top: 3px solid var(--theme-color);
        color: #515151;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 30px;
        padding: 1em 2em 1em 3.5em;
        position: relative;
        text-transform: capitalize;
    }

        .coupon-accordion h3 .coupon {
            color: #006782;
            cursor: pointer;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

            .coupon-accordion h3 .coupon:hover {
                color: #000000;
            }

    .coupon-content {
        border: 1px solid #dddddd;
        margin-bottom: 30px;
        padding: 20px;
    }

    .coupon-info p.form-row-first {
        float: left;
        width: 48%;
    }

    @@media only screen and (max-width: 479px) {
        .coupon-info p.form-row-first {
            width: 100%;
        }
    }

    .coupon-info p.form-row-last {
        float: right;
        width: 48%;
    }

    @@media only screen and (max-width: 479px) {
        .coupon-info p.form-row-last {
            width: 100%;
        }
    }

    .coupon-info .remember {
        margin-left: 10px;
    }

        .coupon-info .remember span {
            margin-left: 5px;
        }

    .checkout-coupon input {
        border: 1px solid #999999;
        color: #555;
        padding: 5px 10px;
        width: auto;
    }

        .checkout-coupon input:focus {
            outline: none;
        }

    .checkout-coupon .button-apply-coupon {
        margin: -5px 0 0 10px;
        padding: 7.2px 11px;
    }

    @@media only screen and (max-width: 479px) {
        .checkout-coupon .button-apply-coupon {
            margin: 10px 0 0 0px;
        }
    }

    @@media only screen and (max-width: 479px) {
        .checkout-page .checkout-form input[type="text"], .checkout-page .checkout-form input[type="email"], .checkout-page .checkout-form input[type="password"], .checkout-page .checkout-form input[type="tel"], .checkout-page .checkout-form input[type="number"], .checkout-page .checkout-form input[type="url"] {
            width: 100% !important;
            padding: 0 22px;
            height: 45px;
            border: 1px solid #ddd;
        }
    }

    .btn-coupon {
        padding: 5px 11px;
        color: #fff;
        letter-spacing: 0.05em;
        border: 2px solid var(--theme-color);
        background: var(--theme-color);
    }
</style>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 class="_arabic" data-translate="000co65">Check-out</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="_arabic" href="index.html" data-translate="a0">Home</a></li>
                        <li class="breadcrumb-item active _arabic" aria-current="page" data-translate="000co65">Check-out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">

        @*<div class="row">
                <div class="col">
                    <div class="coupon-area">


                        <div class="coupon-accordion">
                            <h3><span>Have a coupon?</span> <span class="coupon" id="showcoupon">Click here to enter your code</span></h3>
                            <div class="coupon-content" id="checkout-coupon">
                                <div class="coupon-info">
                                    <form action="#">
                                        <p class="checkout-coupon">
                                            <input id="coupon" type="text" placeholder="Coupon code">
                                            <button onclick="CouponDiscount(); return false;" type="submit" class="btn btn-small btn btn-coupon" name="apply_coupon" value="Apply coupon">Apply coupon</button>
                                        <p id="CouponResponse"></p>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3 class="_arabic" data-translate="00ch3">Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label _arabic" data-translate="000co66">Full Name *</div>
                                    <input class="_arabic" type="text" name="CustomerName" id="CustomerName" value="" placeholder="Customer Name" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label _arabic" data-translate="000co67">Phone * </div>
                                    <input class="_arabic" type="tel" name="ContactNo" id="ContactNo" value="" placeholder="Phone Number" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label _arabic" data-translate="000co68">Email Address *</div>
                                    <input type="email" name="Email" id="Email" class="EmailAddress _arabic" value="" placeholder="Email Address" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <label class="frl"><span class="_arabic" data-translate="000co7">Delivery Time *</span></label>
                                    <select id="DeliveryTime" class="custom-select" required>
                                        <option value="" selected disabled class="_arabic" data-translate="000co69">Choose Delivery Time...</option>
                                        <option>09:00 am to 12:00 pm</option>
                                        <option>12:01 pm to 03:00 pm</option>
                                        <option>03:01 pm to 06:00 pm</option>
                                        <option>06:01 pm to 09:00 pm</option>
                                        <option>09:01 pm to 12:00 am</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="frl"><span class="_arabic" data-translate="000co11">Place Type *</span></label>
                                    <select id="PlaceType" class="custom-select" required>
                                        <option value="" class="_arabic" selected disabled data-translate="000co70">Select Place Type...</option>
                                        <option class="_arabic" data-translate="000co71">Office</option>
                                        <option class="_arabic" data-translate="000co72">Hospital</option>
                                        <option class="_arabic" data-translate="000co73">House</option>
                                        <option class="_arabic" data-translate="000co74">Apartment</option>
                                        <option class="_arabic" data-translate="00s1">Shop</option>
                                        <option class="_arabic" data-translate="000co75">Outlet</option>
                                        <option class="_arabic" data-translate="00s10">Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="frl"><span class="_arabic" data-translate="000co12">Nearest Place *</span></label>
                                    <input id="NearestPlace" class="form-control _arabic" type="text" placeholder="Park, Bank, Hotel etc." name="NearestPlace">
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label _arabic" data-translate="000co8">Country *</div>
                                    <select name="Country" id="Country" required="">
                                        <option selected class="_arabic" data-translate="000co76">Bahrain</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label _arabic" data-translate="000co77">Address *</div>
                                    <input class="_arabic" type="text" name="Address" id="Address" value="" placeholder="Area, Block, Road, Building" required>
                                </div>
                                <div class="form-group">
                                    <label><span class="_arabic" data-translate="00pd2">Description</span></label>
                                    <textarea id="CardNotes" class="form-control checkout-mess _arabic" placeholder="Notes, e.g. special things if you wanna customized  along with your orders." rows="3" cols="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span>Total</span></div>
                                    </div>
                                    <ul class="qty">
                                    </ul>
                                    <div class="charges">
                                        <div>Sub-Total <span class="sub-total" style="float:right">BHD 0</span></div>
                                    </div>
                                    <div class="charges">

                                        <div>Discount <span class="discount">BHD 0</span><span class="discountAmount" style="float:right">BHD 0</span></div>

                                        <div>Coupon Discount <span id="coupon-text">0%</span> <span class="disAmount" style="float:right">BHD 0</span></div>
                                        <div>Tax Amount  <span class="taxPer">0 %</span> <span class="tax" style="float:right">0</span></div>
                                        <div>Delivery Charges <span class="dc" style="float:right">BHD 0</span></div>
                                    </div>
                                    <div class="charges">
                                        <div>Grand Total <span class="total" id="totalamount" style="float:right">0</span></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="coupon-area">
                                            <div class="coupon-accordion">

                                                <div class="coupon-content" id="checkout-coupon">
                                                    <div class="coupon-info">

                                                        <p class="checkout-coupon" style="margin-bottom:0 !important">
                                                            <input id="coupon" type="text" placeholder="Coupon code" style="width:73%;">
                                                            <button onclick="CouponDiscount(); return false;" type="submit" class="btn btn-small btn btn-coupon" name="apply_coupon" value="Apply coupon" data-translate="00ch2">Apply coupon</button>
                                                        <p id="CouponResponse" style="margin-bottom:0 !important"></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="payment-box">
                                    @*<div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
                                                    <li>
                                                        <div class="btn-group d-flex px-2" role="group" aria-label="Basic example" id="Payment-btn">
                                                            <button id="COD" value="1" type="button" class="btn btn-warning active btn-pay" data-toggle="button" aria-pressed="true" autocomplete="off">
                                                                Cash On Delivery
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    <a href="javascript:;" id="checkout" class="btn btn-solid porder" data-translate="000co14"> PLACE ORDER</a>

                                    <p style="color:red" data-translate="000co82">
                                        <br />
                                        Note: Below 10 BD, 1.5 BD Delivery Charges<br />
                                        10 BD to 40 BD, 1 BD Delivery Charges<br />
                                        40 BD and above Free Delivery
                                    </p>
                                </div>
                                <p class="text-danger font-weight-bold text-center bg-category2 rounded mt-3 mb-2" id="payment-alert"></p>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<script type="text/JavaScript">

    setting();

    var total = 0;
    var orderNoURL = "";
    $(document).ready(function () {
        localStorage.removeItem("_setting");
        localStorage.setItem("_setting", "[]");
        localStorage.setItem("_dc", "[]");
        setting();
        cartdata();
        var check = getCartLS();
        if (check.length > 0) {
            $("#checkout").show();
        }
        else {
            $("#checkout").hide();
            $("#Text-Error").html("Kindly add items in your cart then place order");
        }
    });
    $("#checkout").click(function () {

        if ($('#CustomerName').val() != "" && $('#ContactNo').val() != "" && $('#Email').val() != "" && $('#Address').val() != "" && $('#Address').val() != "" ) {
            checkout();
        }
        else {
            $('#payment-alert').html('Some Fields are required');
        }

    });
    //Order working
    function checkout() {



            //=============================== Date For Order# ===================
            var TodayDate  = new Date();
            var dd = String(TodayDate.getDate()).padStart(2, '0');
            var mm = String(TodayDate.getMonth() + 1).padStart(2, '0');
            var yyyy = (new Date().getFullYear() + '').slice(-2);
            TodayDate = mm + dd + yyyy;
            //=============================== Current Date ======================
            var m = new Date();
            var dateString =
                m.getUTCFullYear() + "/" +
                ("0" + (m.getUTCMonth() + 1)).slice(-2) + "/" +
                ("0" + m.getUTCDate()).slice(-2) + " " +
                ("0" + m.getUTCHours()).slice(-2) + ":" +
                ("0" + m.getUTCMinutes()).slice(-2) + ":" +
                ("0" + m.getUTCSeconds()).slice(-2);
            //=============================== Order Details =====================
            var shippingcharges = 0;
            var total = 0;
        var chkLScart = localStorage.getItem("_cartitems");

            var data = JSON.parse(chkLScart);
            var totalPrice = 0;
            var totalQty = 0;



        for (var i = 0; i < data.length; i++) {
                totalQty += Number(data[i].Qty);

                //totalPrice += data[i].Qty * data[i].Price;



                if (data[i].NewPrice == null || data[i].NewPrice == 0) {
                    totalPrice += data[i].Qty * data[i].Price;
                }
                else {
                    totalPrice += data[i].Qty * data[i].NewPrice;
                }
            }
            var LSsettings = JSON.parse(localStorage.getItem("_setting"));
        var settings = LSsettings[0];


        var CouponDisount = parseFloat($(".coupon-amount").text().replace("BHD.", ""));

            //=============================== Order Master =====================


        debugger



        @*var Order = new Object();
        var deliveryCharges = $('#dc').val();
        var coupon = parseFloat($("#coupon-text").html());

        var st = parseFloat(totalPrice) ;
        var dis = ((((st * (settings.Discount / 100)))).toFixed(3));
        var disC = (((totalPrice * (coupon / 100))).toFixed(3));
        var tpdiscounted = (parseFloat(st) - parseFloat(dis) - parseFloat(disC)).toFixed(3);
        var taxA = (parseFloat(tpdiscounted) * (parseFloat(settings.Tax) / 100)).toFixed(3);
        var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(deliveryCharges)).toFixed(3);


        if (parseFloat(tpdiscounted) >= 10.5 && (parseFloat(tpdiscounted)) <= 40) {
            settings.DeliveryCharges = 1;
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }

        else if (parseFloat(tpdiscounted) > 40) {
            settings.DeliveryCharges = 0;
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }

        else {
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }



        Order.CustomerID = @Convert.ToInt32(Session["ID"]);*@



        if (settings.MinOrderAmount < totalPrice) {
               var Order = new Object();
        var deliveryCharges = $('#dc').val();
        var coupon = parseFloat($("#coupon-text").html());

        var st = parseFloat(totalPrice) ;
        var dis = ((((st * (settings.Discount / 100)))).toFixed(3));
        var disC = (((totalPrice * (coupon / 100))).toFixed(3));
        var tpdiscounted = (parseFloat(st) - parseFloat(dis) - parseFloat(disC)).toFixed(3);
        var taxA = (parseFloat(tpdiscounted) * (parseFloat(settings.Tax) / 100)).toFixed(3);
        var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(deliveryCharges)).toFixed(3);


        if (parseFloat(tpdiscounted) >= 10.5 && (parseFloat(tpdiscounted)) <= 40) {
            settings.DeliveryCharges = 1;
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }

        else if (parseFloat(tpdiscounted) > 40) {
            settings.DeliveryCharges = 0;
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }

        else {
            $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
            Order.DeliveryAmount = settings.DeliveryCharges;
            var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
        }



        Order.CustomerID = @Convert.ToInt32(Session["ID"]);













            Order.GrandTotal = GT;
            Order.AmountTotal = st;
            //Taxamount = parseFloat((totalPrice * (settings.TaxPercent / 100)).toFixed(2));
            Order.Tax = taxA;
            Order.DeliveryAmount = settings.DeliveryCharges;

            Order.DiscountAmount = dis + disC;
            Order.TotalItems = totalQty;
            Order.StatusID = 1;

            Order.OrderDate = dateString;
            Order.LastUpdatedDate = dateString;
            Order.LastUpdatedBy = 0;
            //========================== Customer Order Info ========================
            Order.Address = $('#Address').val();
            Order.NearestPlace = $('#NearestPlace').val();
            Order.Country = $('#Country').val();
            Order.ContactNo = $('#ContactNo').val();

            //Order.DeliveryTime = $('#DeliveryTime').val();
            Order.DeliveryTime = $('#DeliveryTime').find(":selected").text();
            Order.CustomerID = @Convert.ToInt32(Session["ID"]);
            Order.CustomerName = $('#CustomerName').val();
            Order.Latitude = 'Not Defined';
            Order.Longitude = 'Not Defined';
            Order.PlaceType = $('#PlaceType').val();
            Order.Email = $('#Email').val();
            Order.CardNotes = $('#CardNotes').val();
            debugger

            //Order.PaymentMethodID = $("#COD").val();
            Order.PaymentMethodID = 1;
            Order.OrderDetailString = JSON.stringify(data);
            var Masterorder = JSON.stringify({ 'data': Order });

            $.ajax({
                type: "POST",
                url: '/Order/PunchOrder',
                data: Masterorder,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    debugger
                    if (data.data.OrderNo == null) {
                        localStorage.clear();

                        window.location.href = '/Order/OrderComplete?OrderID=' + data.data;
                    }
                    else {
                        getCardDetails(data.data.sessionID, data.data.GrandTotal, data.data.OrderNo, data.data.Description);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        }
        else {
            alert("Minimum Order Amount is BHD:" + settings.MinOrderAmount);
        }
    }




    function cartdata(coupon) {
        debugger
        var gifts = getgiftLS();
        var checkLSsetting = localStorage.getItem("_setting");
        var LSsettings = JSON.parse(localStorage.getItem("_setting"));
        var settings = LSsettings[0];
        var total = 0;
        var chkLScart = localStorage.getItem("_cartitems");
        var data = JSON.parse(chkLScart);
        var html = '';
        var totalPrice = 0;
        var totalQty = 0;



        for (var i = 0; i < data.length; i++) {
            totalQty += Number(data[i].Qty);

            if (data[i].NewPrice == null || data[i].NewPrice == 0) {

                //totalPrice += data[i].Qty * data[i].Price;
                html += '<li>'
                html += '<strong class="product-quantity"> &nbsp;&nbsp;&nbsp;' + data[i].Qty + ' X ' + '</strong>' + data[i].Name
                html += '<span class="amount">' + ((data[i].Qty * data[i].Price)).toFixed(3) + '</span>'
                    + '</li>'
            }
            else {
                //totalPrice += data[i].Qty * data[i].NewPrice;
                html += '<li>'
                html += '<strong class="product-quantity"> &nbsp;&nbsp;&nbsp;' + data[i].Qty + ' X ' + '</strong>' + data[i].Name
                html += '<span class="amount">' + ((data[i].Qty * data[i].NewPrice)).toFixed(3) + '</span>'
                    + '</li>'
            }
            if (data[i].NewPrice == null || data[i].NewPrice == 0) {
                totalPrice += data[i].Qty * data[i].Price;
            }
            else {
                totalPrice += data[i].Qty * data[i].NewPrice;
            }
        }
        $(".qty").html(html)

        if (data.length > 0) {
            debugger
            var st = totalPrice;
            var dis = ((((st * (settings.Discount / 100)))).toFixed(3));
            var disC = (((totalPrice * (coupon / 100))).toFixed(3));
            var tpdiscounted = (parseFloat(st) - parseFloat(dis) - parseFloat(disC)).toFixed(3);
            var taxA = (parseFloat(tpdiscounted) * (parseFloat(settings.Tax) / 100)).toFixed(3);

            if (parseFloat(tpdiscounted) >= 10.5 && (parseFloat(tpdiscounted)) <= 40) {
                settings.DeliveryCharges = 1;
                $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
                var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
            }

            else if (parseFloat(tpdiscounted) > 40) {
                settings.DeliveryCharges = 0;
                $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
                var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
            }

            else {
                $('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));
                var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);
            }

            //var GT = (parseFloat(tpdiscounted) + parseFloat(taxA) + parseFloat(settings.DeliveryCharges)).toFixed(3);


            debugger
            $(".sub-total").html(currency + ' ' + (totalPrice).toFixed(3));
            Taxamount = (parseFloat(totalPrice) * (parseFloat(settings.Tax) / 100)).toFixed(3);
            $('.tax').html(currency + ' ' + taxA);
            $('.taxPer').html((settings.Tax + '%'));
            $('.disAmount').html((disC ));
            $('.discount').html(settings.Discount + '%');
            $('.discountAmount').html(dis);
            //$('.dc').html(currency + ' ' + settings.DeliveryCharges.toFixed(3));

            $("#totalamount").html(currency + ' ' + (GT));
        }
        else {
            $(".sub-total").html("");
            $(".tax").html("");
            $(".discount").html("");
            $("#totalamount").html("");
        }
    };
    function setting() {
        //get settings

        var chkLSsettings = localStorage.getItem("_setting");

        if (chkLSsettings != null) {
            $.ajax({
                type: "GET",
                url: '/Home/GetSetting',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var arrTemp = [];
                    arrTemp = getsettingsLS();
                    arrTemp.push({ DeliveryCharges: data.DeliveryCharges, MinOrderAmount: data.MinOrderAmount, Tax: data.TaxPercent, COD: data.COD, Discount: data.Discount, TopHeadDescription: data.TopHeadDescription });
                    if (data.COD != 1) {
                       // $('#COD').addClass('d-none');
                    }
                    setsettings(arrTemp);
                    cartdata(0);
                },
                error: function (xhr, textStatus, errorThrown) {
                    //alert(xhr, textStatus, errorThrown);
                }
            });
        }

    };
    function setsettings(arr) {
        var settings = localStorage.getItem("_setting");
        if (settings != null) {
            localStorage.setItem("_setting", JSON.stringify(arr));
        }
    };
    function getsettingsLS() {
        var settings = localStorage.getItem("_setting");
        if (settings != null && settings != "")
            return JSON.parse(settings);
        else
            return JSON.parse("[]");
    };

    var currency = localStorage.getItem("currency");

    //$('#Payment-btn').on('click', '.btn-pay', function () {
    //    $(this).addClass('payactive').siblings().removeClass('payactive');
    //    $('#payment-alert').html('');
    //});
</script>
<script>
    $('#showcoupon').on('click', function () {
        $('#checkout-coupon').slideToggle(500);
    });



    //coupon working
    function CouponDiscount() {
        debugger
        var coupon = $("#coupon").val();
        $.ajax({
            type: "Get",
            url: '/Order/Coupon?coupon=' + coupon,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {

                if (data.data != null) {
                    $("#CouponResponse").removeClass();
                    $("#CouponResponse").html('Coupon Applied').addClass("text-success");
                    if (data.data.Type == 'Amount') {
                        //$(".coupon-amount").html(currency + ' ' + data.data.Amount.toFixed(2));
                        $("#coupon-text").html('Coupon Discount');
                    }
                    else {
                        //$(".coupon-amount").html(currency + ' ' + data.data.Amount.toFixed(2));
                        $("#coupon-text").html(' ' + data.data.Amount.toFixed(0) + '%');

                    }
                    $('#CouponID').val(data.data.CouponID);
                    $('#CouponCode').val(data.data.CouponCode);
                    $('#CouponType').val(data.data.Type)
                    CouponDis(data.data.CouponID);
                    cartdata(data.data.Amount);
                }
                else {
                    $("#CouponResponse").removeClass();
                    $("#CouponResponse").html('Invalid Coupon').addClass("text-danger");
                    $(".coupon-amount").html(currency + ' ' + 0);
                    CouponDis(0);
                    cartdata(0);
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                //
            }
        });
    }
    function CouponDis(ID) {
        return ID;
    }
</script>